.bundle_price .price .price-subtotal, .bundle_price .price .price-discount, .bundle_price .price .price-total {
	display: block;
	margin: 0 0 0.5em;
}

.bundle_form .bundle_price .price .price-subtotal, .bundle_form .bundle_price .price .price-discount {
	font-size: 0.85em;
}

.bundle_form .bundle_price .price-total {
	margin: 1em 0 0.5em;
}

.bundle_form .bundle_price .price-subtotal span.total, .bundle_form .bundle_price .price-total span.total, .bundle_form .bundle_price .price-discount span.discount {
	min-width: 120px;
	display: inline-block;
}
